@import url('https://fonts.googleapis.com/css?family=Kanit');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700');

$dark: #454545;
$ligtDarkBackground: #ecf0f1;
$light: rgb(202, 202, 202);
$moreLight: rgb(224, 224, 224);
$lightShadow: rgba(206, 206, 206, 0.25);
$darkShadow: rgba(0, 0, 0, 0.25);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
  color: $dark;
  text-shadow: 0 1px 2px $darkShadow;
}
body, html {
  height: 100%;
}
.app {
  height: 100%;
  padding: 2% 1%;
}

// Defaults styles of some elements
.default-h1 {
  text-align: center;
  font-size: 40px;
}
.default-h2 {
  font-size: 12px;
  padding: 3px 30px 6px 3px;
  margin-bottom: 5px;
  font-weight: 100;
  background-image: url("http://lukasztucholski.pl/imgs/iconfinder_right_down2_308953.png");
  background-size: 25px 20px;
  background-position-x: 100%;
  background-position-y: 8px;
  background-repeat: no-repeat;
}
.default-text-input {
  height: 40px;
  font-size: 14px;
  text-align: center;
  border: 1px solid $moreLight;
  border-radius: 5px;
  padding: 3px;
  outline: none;
}
.default-text-input::placeholder {
  color: $darkShadow;
  text-shadow: none;
}
.default-form__footer {
  align-self: flex-end;
  background-image: url("http://lukasztucholski.pl/imgs/arrow.png");
  background-size: 40px 40px;
  background-position-y: 7px;
  height: 40px;
  width: 40px;
}

// Form component
.form {
  display: grid;
  grid-column-gap: 1%;
  grid-template-columns: 50% 30% 18%;
  grid-template-rows: auto;
  grid-template-areas:
  "title title title"
  "text empty1 empty1"
  "text date empty2"
  "empty3 date empty2"
  "empty3 date submit";
  width: auto;
  margin: 0 auto;
  padding: 0 10px;
}
.form__title {
  grid-area: title;
  margin-bottom: 50px;
  text-shadow: 0 7px 10px $darkShadow;
}

// Form columns 
.form__column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  h2 {
    align-self: flex-start;
  }
}

// Form column with text input
.text {
  grid-area: text;
}
.text__input {
  width: 90%;
}

// Form column with date & time inputs
.date {
  grid-area: date;
  padding: 30px 0 42px 0;
}

// Form column with submit button
.submit {
  grid-area: submit;
}
.submit__btn {
  padding: 5px 10px;
  background: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  color: $dark;
  text-align: center;
  background: $ligtDarkBackground;
  border: 1px solid $moreLight;
  cursor: pointer;
  box-shadow: inset 0 -2px $moreLight;
  outline: none;
}
.submit__btn:hover {
  background: $dark;
  color: $light;
  box-shadow: inset 0 -2px $darkShadow;
}

// Calendar (date picker) component
.date-picker {
  position: relative;
  width: 70%;
}
.date-picker__input {
  cursor: pointer;
  width: 100%;
}
.date-picker__calendar {
  z-index: 1;
  position: absolute;
  min-width: 270px;
  background: $ligtDarkBackground;
  padding: 10px;
  box-shadow: inset 0 -2px $moreLight;
  border: 1px solid $moreLight;
  border-radius: 3px;
}
.calendar__nav {
  display: flex;
  p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 15px 10px 15px;
  }
}
.month-nav {
  width: 60%;
}
.year-nav {
  width: 40%;
}
.left-skip, .right-skip {
  cursor: pointer;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  margin: 7px 0 0 0;
}
.left-skip {
  border-right: 10px solid $dark;
}
.right-skip {
  border-left: 10px solid $dark;
}
.calendar__days {
  table-layout: fixed;
  border-collapse: collapse;
  width: 90%;
  margin: 0 auto;
  td {
    border: 1px solid $moreLight;
    padding: 3px;
    text-align: center;
  }
}
.active {
  color: $dark;
  font-size: 15px;
}
.active:hover {
  background: $dark;
  color: $light;
  cursor: pointer;
}
.inactive {
  color: $light;
  font-size: 12px;
  text-shadow: 0 1px 1px $lightShadow;
}
.inactive:hover {
  cursor: pointer;
}
.picked {
  background: $dark;
  color: $light;
  font-weight: bold;
}

// Time picker
.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  h2 {
    align-self: center;
  }
}
.time__pickers {
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  align-self: flex-end;

}
.dropdown {
  position: relative;
  display: flex;
  width: auto;
  justify-content: space-around;
  align-items: center;
  user-select: none;
  &:first-child {
    margin-right: 4px;
  }}
.dropdown__footer {
  text-align: center;
  font-size: 11px;
  font-style: italic;
  color: $darkShadow;
  text-shadow: none;
}
.dropdown__nav {
  display: block;
  cursor: pointer;
  padding: 0 10px;
  font-size: 13px;
}
.dropdown__input-text {
  cursor: pointer;
}
.list {
  position: absolute;
  top: 100%;
  left: 20%;
  background: $ligtDarkBackground;
  box-shadow: inset 0 -2px $moreLight;
  border: 1px solid $moreLight;
  border-radius: 3px;
  ul {
    list-style-type: none;
    padding: 3px;
  }
  li {
    cursor: pointer;
    padding: 10px;
    width: 100%;
  }
  li:hover {
    background: $dark;
    color: $light;  
    border-radius: 5px;
  }
}
.date__arrow {
  background-image: url("http://lukasztucholski.pl/imgs/arrow-down.png");
  background-size: 12px 25px;
  background-repeat: no-repeat;
  width: 12px;  
  height: 25px;
}

// Timer view
.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  padding: 2% 5%;
  .timer__title {
    margin: 50px 0;
  }
}
.timer__text {
  font-size: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.timer__time {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  font-size: 15px;
}
.timer__timer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-style: italic;
  width: 100%;
  .timer__count {
    margin: 0px 10px;
    font-size: 50px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    font-style: normal;
    vertical-align: middle;
  }
  p:last-child {
    .timer__count { 
    font-size: 20px;
    }
  }
}
.past {
  font-size: 50px;
  margin: 0px 0 30px 0;
  color: rgb(160, 55, 55);
}